@charset "UTF-8";
/* CSS Document */

.body {
	font-family: playfair-display, 'Courier New', Courier, monospace;
}

.navbar-dark {
    --bs-navbar-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: rgb(245, 255, 160);
    --bs-navbar-brand-hover-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(57, 54, 208)!important;
}

.homepage{
	background-color: #fff;
}

.footer {
	background-color: rgba(57, 54, 208)!important;
	color: #fff;
	text-align: center;
	margin-top: 10px;
	padding-top: 10px;
	height: 40px;
	width: 100%;
	position: fixed;
	bottom: 0;
	
}

.sidenav {
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style for the side navigation links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

/* Style for the active/current link */
.sidenav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Style for the main content area */
.main {
  margin-left: 250px; /* same as the width of the side navigation */
  padding: 0 20px;
}

.accordion-button:not(.collapsed) {
	color: rgba(57, 54, 208);
	background-color: rgb(245, 255, 160);
	box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
}
